<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/cerulean/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/base.css">
  <title>Repos Page</title>
</head>
<body>
  <div class="container">
    <div class="row col-md-2"></div>
    <div class="row col-md-10">
      <h2>Repos</h2>
    </div>
    <div class="row col-md-2"></div>
    <div class="row col-md-10">
      <ul class="list-group-1" id="getRepos">
        <li><a href="/repos" id="stvbuller/AJAXGitHub6.2">AJAXGitHub6.2</a></li>
        <li><a href="/repos">Portfolio_SB</a></li>
        <li><a href="/repos">ParseTwittter6.1</a></li>
        <li><a href="/repos">TravelSite</a></li>
        <li><a href="/repos">DatePicker5.1</a></li>
        <li><a href="/repos">ToDoList</a></li>
        <li><a href="/repos">ClickYouFriends</a></li>
        <li><a href="/repos">TableLab3.2</a></li>
        <li><a href="/repos">FunctionIntro3.2</a></li>
        <li><a href="/repos">2-3bootstrap</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3 id="repoHeader" class="hidden">Repos</h3>
        <div class="list-group" id="getCommits"></div>
      </div>
      <div class="col-md-8">
        <table class="table">
          <thead class="hidden">
            <th>Link to Commits</th>
            <th>Author</th>
            <th>Message</th>
            <th>Date</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    <div class="row col-md-2"></div>
    <div class="row col-md-10">
      <nav>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/formContactMe">Contact Me</a></li>
      </nav>
    </div>
  </div><!--container-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/getCommits.js"></script>
  <script type="text/javascript" src="/getRepos.js"></script>  
</body>
</html>