<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/cerulean/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/base.css">
  <title>Account</title>
</head>
<body>
  <div class="container">
    <div class="row col-md-2"></div>
    <div class="row col-md-10">
      <h2>Your Account</h2>
    </div>
    <div class="row col-md-2"></div>
    <div class="row col-md-10">
      <br>
      <br>
      <br>
      <nav>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/formContactMe">Contact Me</a></li>
            <li><a href="/logout">Logout</a></li>
      </nav>
    </div>
  </div><!--container-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</body>
</html>