<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/cerulean/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/base.css">
  <title>Steven's Blog</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <h2>Steven's Blog</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <h4>The first article</h4>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <article>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. 
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <h4>The last article</h4>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <article>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. 
        </article>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <ul class="nav nav-tabs">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/formContactMe">Contact me</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>