<!DOCTYPE html>
<html>
<head>
  <head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/cerulean/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/base.css">
  <title>Commits</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead class="hidden">
            <th>Link to Commits</th>
            <th>Author</th>
            <th>Message</th>
            <th>Date</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row col-md-2"></div>
  <div class="row col-md-10">
    <nav>
      <ul class="nav nav-tabs">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/formContactMe">Contact Me</a></li>
    </nav>
  </div>
</body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="jscripts/getCommits.js"></script>
  <script type="text/javascript" src="jscripts/getRepos.js"></script>  
</html>