<!DOCTYPE html>
<html ng-app="portfolioApp">
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/cerulean/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/base.css">
  <title>Contact</title>
</head>
<body ng-controller="portfolioController">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <h2>Contact me</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <form ng-submit="submitContactMe()">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" ng-model="contactFirstName" class="form-control" id="firstname" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" ng-model="contactLastName" class="form-control" id="lastname" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="organization">Organization</label>
            <input type="text" ng-model="contactOrganization" class="form-control" id="organization" placeholder="Organization">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="eamil" ng-model="contactEmail" class="form-control" id="email" placeholder="Email">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <ul class="nav nav-tabs">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/blog">My Blog</a></li>
          </ul>
      </div>
    </div>

  </div>

<!-- angular.js CDN -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
<!-- custom scripts -->
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="submitContactMe.js"></script>
</body>
</html>
