<!DOCTYPE html>
<html>
<head>
  <title>Steven's Portfolio</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/cerulean/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/base.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Steven Buller</a>
      </div>
        <ul class="nav navbar-nav">
          <li><a href="/projects">Projects</a></li>
          <li><a href="/repos">Repos</a></li>
          <li><a href="/blog">My Blog</a></li>
          <li><a href="/formContactMe">Contact</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
    </div><!-- /.container-fluid for navbar-->
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <h2>Steven Buller</h2>
      </div>
    <div class="row"><!--about-->
      </div class="col-md-1"></div>
      <div class="col-md-1">
        <img src="/StevenBuller_cropped.jpg" width="125", height="150" alt="a image should appear here">
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <section id="About">
          <h3>About</h3>
          <p class="about_info">
            Hi, I'm Steven Buller and am completing Rutgers Coding Boot camp. I've been learning
            about computer programming on my own and decided to attend Rutgers Coding Boot
            camp to get formal training in web development. The program is very rigorous and
            I've developed skills in JavaScript, Node.js, SQL, and other programming languages.
            I've also developed an understanding of the fundamentals of web development and how
            to learn new technologies. I have a background in financial operations.
            At Haut Commodities I managed financial operations with a solid track record of no
             losses due to administrative errors, and no increased administrative costs despite
             revenue growth from $500,000 to $9 million per year.
          </p>
        </section>
      </div>
    </div><!--about-->
    <div class="row"><!--education-->
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <div id="Education">
          <h3>Education</h3>
          <ul class="education">
            <li>Rutgers Coding Bootcamp</li>
            <li>BA, Economics, University College of Rutgers University, New Brunswick, NJ 1988</li>
            <li>Institute of Audio Research, New York, New York, 1981</li>
        </div>
      </div>
    </div><!--education-->
    <div class="row"><!--Career_Objectives-->
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <div id="Career_Objectives">
          <h3>Career Objective</h3>
          <ul>
            <li><p class="career_obj_info">I am interested full stack development.
            </p></li>
          </ul>
        </div>
      </div>
    </div><!--Career_Objectives-->
    <div class="row"><!--skills -->
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <div id="Skills">
          <h3>Skills</h3>
          <ul>
            <li><p class="skills_info">Javascript, Node.js, Database Theory, HTML5, JQuery, CSS3.</p></li>
          </ul>
        </div>
       </div>
    </div><!--skills -->
    <div class="row"><!--employers-->
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <div id="Employers">
          <h3>Previous Employers</h3>
          <ul class="employer_info">
            <h4>PG & E Energy Trading / Virtual Credit Services</h4>
            <h5>FINANCIAL OPERATIONS</h5>
            <li><p class="employers">In tandem with Chief Risk Officer, created support system for the trading desk of a division of PG&E National Energy Group.</p></li>
          </ul>
          <div class="row"></div>
          <ul class="employer_info">
            <h4>Refco/A. M. Haut Commodities Inc.</h4>
            <h5>CONTROLLER</h5>
            <li><p class="employers"> Prepared comprehensive monthly and daily financial reports, monitored payables and receivables for four companies with annual gross revenue of over $9 million.</p></li>
            <li><p class="employers"> In collaboration with Chief Financial Officer and accounting staff, consolidated corporate financials and transitioned to new accounting software.</p></li>
            <li><p class="employers"> In collaboration with a software developer internally redeveloped financial software to avert Y2K problems.</p></li>
          </ul>
          <div class="row"></div>
          <ul class="employer_info">
            <h4>A. M. Haut Commodities Inc.</h4>
            <h5>FINANCIAL ADMINISTRATOR / VICE PRESIDENT</h5>
            <li><p class="employers">Collaborated with a major financial company to analyze business/financial processes.</p></li>
            <li><p class="employers">Handled trade verification, derivative valuations, production of profit and loss statements for all trading accounts, the orchestration of margin calls, and the settlement payments between treasury departments.</p></li>
            <li><p class="employers">Created specifications for a trade administration application, supervised programming consultants through its development.</p></li>
            <li><p class="employers">Managed projects using computerized systems to streamline operations through the writing/implementation of macros, and oversaw implementation with all personnel.</p></li>
          </ul>
          <ul class="employer_info">
            <h5>BROKER / VICE PRESIDENT</h5>
            <li><p class="employers">Serviced and developed institutional investment clients.</p></li>
          </ul>
          <div class="row"></div>
          <ul class="employer_info">
            <h4>Power Station Inc.</h4>
            <h5>TECHNICIAN</h5>
            <li><p class="employers">Responsible for the maintenance and troubleshooting of professional audio recording equipment, keeping studio downtime to a minimum.</p></li>
          </ul>
        </div>
      </div>
    </div><!--employers-->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <div id="Personal_Interests">
          <h3>Personal Interests</h3>
          <ul>
            <li><p class="personal_interests_info">road bicycling, rock, jazz, and blues music, photography, scuba diving</p></li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <div id="Social_Media">
          <!-- <h3>Social Media</h3> -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="https://www.linkedin.com/pub/steven-buller/77/469/363"target="_blank"><img src="/Logo-2C-14px.png"></a></li>
            <li><a href="http://stackoverflow.com/users/5447506/stvd700"target="_blank">Stack Overflow <i class="fa fa-stack-exchange fa-lg"></i></a></li>
            <li><a href="https://github.com/stvbuller"target="_blank">GitHub <i class="fa fa-github-alt fa-lg"></i></a></li>
            <li><a href="/blog">My Blog</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div><!--container-->
</body>
</html>
