<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/cerulean/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/base.css">
  <title>Projects</title>
</head>
<body>
  <div class="container">
    <div class="row col-md-2"></div>
    <div class="row col-md-10">
      <h2>Projects</h2>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <ul id="projectsList">
          <li><h4><a href="/clickGame">The Click Your Friends Game</a><h4></li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row col-md-2"></div>
    <div class="row col-md-10">
      <nav>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/formContactMe">Contact Me</a></li>
      </nav>
    </div>
  </div><!--container-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</body>
</html>